/*BASE CSS*/
/*Spinner*/
.bd-example-modal-lg .modal-dialog {
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}
/* Custom font   */

@font-face {
  font-family: 'Noto Sans Lao';
  src: url('NotoSansLao-Regular.eot');
  src: url('NotoSansLao-Regular.eot?#iefix') format('embedded-opentype'),
      url('NotoSansLao-Regular.woff2') format('woff2'),
      url('NotoSansLao-Regular.woff') format('woff'),
      url('NotoSansLao-Regular.ttf') format('truetype'),
      url('NotoSansLao-Regular.svg#NotoSansLao-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Custom table  */
.dhis2.table-striped{
  border-bottom:1px solid #088A85;
}
.dhis2.table-striped > thead > tr > th{
  border-bottom:1px solid #088A85;
  color: #0056C1;
}
.dhis2.table-striped > tbody > tr > td{
  border-bottom:1px solid #088A85;
  color: #585858;
  font-size: 14px;
}
/* Box css  */
.Box {
  font-size:8px;
  font-weight:bold;
  letter-spacing:0px;
  background:black;
  color:white;
  height: 50px;
  width: 50px;
  line-height: 50px;
  }
.boxtxt{
  font-size: 14px;
  padding-top: 15px;
  color:   #616461;
}
/*  head table  */
.htable{
  font-size: 16px;
  font-weight: 800;
  color:#0056C1;
}
.htable1{
  font-size: 12px;
}
.nav-link{
  font-weight: 800;
  font-size: 16px;
}
.dotted {
  border-bottom: 2px #E6550D solid;
}
/*Customize Nav bar and Body*/
body {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif, "Noto Sans Lao", Phetsarath OT !important;
}
.percenttxt{
  font-size: 12px;
  color:   #884d1b;
}
#header-language-option {
  justify-content: flex-end;
}
#header-language-option a {
  margin: 0.5rem;
  color: #777779;
}
#header-language-option a:hover {
  color: #1CABE2;
}

#header-logo-images {
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100%;
  align-items: center;
  justify-content: space-around;
}
#header-logo-images img {
  max-height: 155px;
  max-width: 100%;
}

#navBarTop {
  font-size: 1rem;
  min-height: 80px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
}

#navBarList {
  justify-content: center;
}
#navBarList .navbar-nav .nav-item.active {
  border-bottom: 3px solid #1CABE2;
}
#navBarList .navbar-nav .nav-item.active a {
  font-weight: bold;
  color: #1CABE2;
}
#navBarList .navbar-nav .nav-item.dropdown.active .dropdown-menu .dropdown-item.active {
  background-color: #D8D1C9;
}
#navBarList .navbar-nav .nav-item:hover {
  transition: 100ms;
  border-bottom: 3px solid #1CABE2;
}
#navBarList .navbar-nav .nav-item:hover a {
  color: #1CABE2;
}

/*Customize Card*/
.card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
  height: 100%;
  width: 100%;
  border-radius: 0 !important;
  border: 0 !important;
}

/* Customize Draw Chart Area for ChartJS Canvas Tag */
.drawChart {
  position: relative;
  display: block;
  height: 360px;
  width: 100%;
}

canvas {
  padding: 12px;
}

/* box shadow on the top menu */
#content-header #navBarTop {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
}

/* Map Chart Customize*/
.mapBorder {
  fill: none;
  stroke: #eee;
  pointer-events: none;
}

/*Customize Header and Text8? */
.topic {
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
  color: #777779;
  font-weight: bold;
}

.text-content {
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
  color: #2D2926;
}

/* Footer Section */
#copyright-logo {
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100%;
  align-items: center;
  justify-content: space-around;
}
#copyright-logo h5 {
  margin: 1rem;
}
#copyright-logo img {
  max-width: 100%;
  height: auto;
}

/*Customize Footer Logo*/
#footer-copyright {
  height: 30vh;
  padding: 0;
  background-color: #173C78 !important;
}

#textCopyright {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#footer-supported-logo {
  margin: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100%;
  align-items: center;
  justify-content: space-around;
}
#footer-supported-logo img {
  margin: 1rem;
  max-height: 155px;
  max-width: 100%;
}

#footer-information {
  padding: 1rem;
}

#lang-option-list a {
  color: #2D2926;
}
#lang-option-list:hover {
  text-decoration: none;
}

#copyright-text p {
  text-align: left;
}

.footerHead {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: #2d2d2b;
}

.footerTxt {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #2d2d2b;
}

.footerSMS {
  font-size: 11px;
  line-height: 10px;
  color: #8E8F8F;
}

.fab {
  color: #9399A5;
}

/*END BASE CSS*/
/*Nutrition Status CSS*/
/*BASE CSS*/
/*Spinner*/
.bd-example-modal-lg .modal-dialog {
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}

/*Customize Nav bar and Body*/
body {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif, "Noto Sans Lao", Phetsarath OT !important;
}

#header-language-option {
  justify-content: flex-end;
}
#header-language-option a {
  margin: 0.5rem;
  color: #777779;
}
#header-language-option a:hover {
  color: #1CABE2;
}

#header-logo-images {
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100%;
  align-items: center;
  justify-content: space-around;
}
#header-logo-images img {
  max-height: 155px;
  max-width: 100%;
}

#navBarTop {
  font-size: 1rem;
  min-height: 80px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
}

#navBarList {
  justify-content: center;
}
#navBarList .navbar-nav .nav-item.active {
  border-bottom: 3px solid #1CABE2;
}
#navBarList .navbar-nav .nav-item.active a {
  font-weight: bold;
  color: #1CABE2;
}
#navBarList .navbar-nav .nav-item.dropdown.active .dropdown-menu .dropdown-item.active {
  background-color: #D8D1C9;
}
#navBarList .navbar-nav .nav-item:hover {
  transition: 100ms;
  border-bottom: 3px solid #1CABE2;
}
#navBarList .navbar-nav .nav-item:hover a {
  color: #1CABE2;
}

/*Customize Card*/
.card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
  height: 100%;
  width: 100%;
  border-radius: 0 !important;
  border: 0 !important;
}

/* Customize Draw Chart Area for ChartJS Canvas Tag */
.drawChart {
  position: relative;
  display: block;
  height: 360px;
  width: 100%;
}

canvas {
  padding: 12px;
}

/* box shadow on the top menu */
#content-header #navBarTop {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
}

/* Map Chart Customize*/
.mapBorder {
  fill: none;
  stroke: #eee;
  pointer-events: none;
}

/*Customize Header and Text8? */
.topic {
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
  color: #777779;
  font-weight: bold;
}

.text-content {
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
  color: #2D2926;
}

/* Footer Section */
#copyright-logo {
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100%;
  align-items: center;
  justify-content: space-around;
}
#copyright-logo h5 {
  margin: 1rem;
}
#copyright-logo img {
  max-width: 100%;
  height: auto;
}

/*Customize Footer Logo*/
#footer-copyright {
  height: 30vh;
  padding: 0;
  background-color: #173C78 !important;
}

#textCopyright {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#footer-supported-logo {
  margin: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100%;
  align-items: center;
  justify-content: space-around;
}
#footer-supported-logo img {
  margin: 1rem;
  max-height: 155px;
  max-width: 100%;
}

#footer-information {
  padding: 1rem;
}

#lang-option-list a {
  color: #2D2926;
}
#lang-option-list:hover {
  text-decoration: none;
}

#copyright-text p {
  text-align: left;
}

.footerHead {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: #2d2d2b;
}

.footerTxt {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #2d2d2b;
}

.footerSMS {
  font-size: 11px;
  line-height: 10px;
  color: #8E8F8F;
}

.fab {
  color: #9399A5;
}

/*END BASE CSS*/
/* Modified Map Tooltip */
div.tooltip, div.tooltip1, div.tooltipOpenDeface, div.tooltipWomenStatus {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 10px;
  font-size: 0.8rem;
  background: #fff;
  border: 0;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
}

/* Main header of the graph*/
/* Nutrition Overview*/
#overview-table-card, #overview-content-card {
  height: 620px;
  padding: 1.2rem;
}
#overview-table-card p, #overview-content-card p {
  font-size: 0.8rem;
  color: #777779;
}

/*Card for Section Header*/
.card.sectionHeader {
  background-color: #1CABE2;
  height: auto;
  color: #fff;
}
.card.sectionHeader h2,h3 {
  padding: 10px;
  text-align: center;
}

/*Customize Card*/
.drawChart.IYCF {
  height: 140px;
}

#drawLineChart, #drawProvinceChart {
  height: 500px;
}

/* Table Row Green Highlight */
/*Add Darkgreen color to th and td tag*/
#header-overview-table tr {
  color: #777779;
  text-align: center;
}
#header-overview-table tr th:first-of-type {
  width: 20rem;
}

#overview-table-content {
  font-size: 14px;
}

tr.greenTag > th, tr.greenTag > td:first-of-type {
  color: #039245;
  width: 20rem;
}

/*Add red color to th and td tag*/
tr.redTag > th, tr.redTag > td:first-of-type {
  color: #ea5771;
  width: 20rem;
}

/*Add red color to th and td tag*/
tr.yellowTag > th, tr.yellowTag > td:first-of-type {
  color: #ecb800;
  width: 20rem;
}

/*Add Grey colour to the third column of the table*/
tr.greenTag > td:nth-child(3), tr.redTag > td:nth-child(3), tr.yellowTag > td:nth-child(3) {
  color: gray;
  width: 5rem;
}

.tableLegend {
  color: #777779;
  font-size: 0.8rem;
}

/*END TEST CSS*/
/*Download Box*/
.download-box {
  text-align: right;
  float: right;
}

/*Card Header*/
.card-title {
  padding: 10px;
  display: flex;
  align-items: center;
}
.card-title .topic {
  flex: auto;
}

/*Overview Data Table Content*/
#tableTab {
  font-size: 12px;
  overflow: auto;
}

/*IYCF Section*/
.IYCF.Legend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.IYCF.Legend div {
  margin: 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.IYCF.Legend div p {
  color: #777779;
  margin-left: 5px;
  margin-bottom: 0;
}
.IYCF.Legend #IYCF-legend-early-breast rect {
  fill: #1CABE2;
}
.IYCF.Legend #IYCF-legend-exclusive-breast rect {
  fill: #374EA2;
}
.IYCF.Legend #IYCF-legend-minimum-diet-diversity rect {
  fill: #6A1E74;
}
.IYCF.Legend #IYCF-legend-minimum-acceptable-diet rect {
  fill: #D8D1C9;
}
.IYCF.Legend #IYCF-legend-continued-breastfeeding-at-2-years rect {
  fill: #777779;
}

/* Additional Indicator List Area*/
#additional-indicator-dropdown-menu-list.dropdown-menu.show {
  width: 100%;
  text-align: center;
  opacity: 0.8;
}

#additional-indicator-dropdown-button-list {
  text-align: center;
}
#additional-indicator-dropdown-button-list #dropdownMenuLink-additional-indicator-list {
  width: 100%;
}

/*END Nutrition Status CSS*/
/*BASE CSS*/
/*Spinner*/
.bd-example-modal-lg .modal-dialog {
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}

/*Customize Nav bar and Body*/
body {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif, "Noto Sans Lao", Phetsarath OT !important;
}

#header-language-option {
  justify-content: flex-end;
}
#header-language-option a {
  margin: 0.5rem;
  color: #777779;
}
#header-language-option a:hover {
  color: #1CABE2;
}

#header-logo-images {
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100%;
  align-items: center;
  justify-content: space-around;
}
#header-logo-images img {
  max-height: 155px;
  max-width: 100%;
}

#navBarTop {
  font-size: 1rem;
  min-height: 80px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
}

#navBarList {
  justify-content: center;
}
#navBarList .navbar-nav .nav-item.active {
  border-bottom: 3px solid #1CABE2;
}
#navBarList .navbar-nav .nav-item.active a {
  font-weight: bold;
  color: #1CABE2;
}
#navBarList .navbar-nav .nav-item.dropdown.active .dropdown-menu .dropdown-item.active {
  background-color: #D8D1C9;
}
#navBarList .navbar-nav .nav-item:hover {
  transition: 100ms;
  border-bottom: 3px solid #1CABE2;
}
#navBarList .navbar-nav .nav-item:hover a {
  color: #1CABE2;
}

/*Customize Card*/
.card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
  height: 100%;
  width: 100%;
  border-radius: 0 !important;
  border: 0 !important;
}

/* Customize Draw Chart Area for ChartJS Canvas Tag */
.drawChart {
  position: relative;
  display: block;
  height: 360px;
  width: 100%;
}

canvas {
  padding: 12px;
}

/* box shadow on the top menu */
#content-header #navBarTop {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
}

/* Map Chart Customize*/
.mapBorder {
  fill: none;
  stroke: #eee;
  pointer-events: none;
}

/*Customize Header and Text8? */
.topic {
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
  color: #777779;
  font-weight: bold;
}

.text-content {
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
  color: #2D2926;
}

/* Footer Section */
#copyright-logo {
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100%;
  align-items: center;
  justify-content: space-around;
}
#copyright-logo h5 {
  margin: 1rem;
}
#copyright-logo img {
  max-width: 100%;
  height: auto;
}

/*Customize Footer Logo*/
#footer-copyright {
  height: 30vh;
  padding: 0;
  background-color: #173C78 !important;
}

#textCopyright {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#footer-supported-logo {
  margin: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100%;
  align-items: center;
  justify-content: space-around;
}
#footer-supported-logo img {
  margin: 1rem;
  max-height: 155px;
  max-width: 100%;
}

#footer-information {
  padding: 1rem;
}

#lang-option-list a {
  color: #2D2926;
}
#lang-option-list:hover {
  text-decoration: none;
}

#copyright-text p {
  text-align: left;
}

.footerHead {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: #2d2d2b;
}

.footerTxt {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #2d2d2b;
}

.footerSMS {
  font-size: 11px;
  line-height: 10px;
  color: #8E8F8F;
}

.fab {
  color: #9399A5;
}

/*END BASE CSS*/
/* Customize icon on overview table */
#icon-circle-achieved {
  fill: #00833D;
}

#icon-circle-on-track {
  fill: #FFC20E;
}

#icon-circle-off-track {
  fill: #E2231A;
}

/*# sourceMappingURL=style.css.map */
