<!--Footer-->
<div class="container" id="content-footer">
    <div class="row mt-4">
        <div class="col-lg-12" id="support-header">
            <div class="card">
                <div id="supportHeaderText" class="card-body text-center align-middle text-muted bg-white">
                    <h5>
                        <u>Supported By</u>
                    </h5>
                </div>
                <div class="row text-center" id="footer-supported-logo">
                    <div class="col-sm-4"> <img id="laoGovLogo" src="images/Lao_Government_logo.png" width="100px" alt="Lao Government Logo"></div>
                    <div class="col-sm-4"> <img id="euLogo" src="images/EU_logo.png" width="100px" alt="European Union Logo"></div>
                    <div class="col-sm-4"> <img id="unicefLogo" src="images/UNICEF_logo_2.png" width="150px" alt="UNICEF Logo"></div>
                </div>
            </div>
        </div>
    </div>
</div>